* {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

:root {
    --bg_color: #000;
    --bg_color_light: #333333;
    --font_color: #f1f1f1;
    --neon_blue: #1fffff;
    --neon_green: #39FF14;
    --neon_purple: #9400D3;
    --neon_orange: #FF6700;
    --nav_bar: #1f1f1f22;
    --main_text_bg_color: #1f1f1f;
    --transp_green: #38ff1425;
    --transp_purple: #9400D325;
}

hr {
    color: #39FF1410;
}

body {
    background-color: var(--bg_color);
    color: var(--font_color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color: var(--neon_purple);
    background-color: var(--bg_color);
    position: fixed;
    bottom: 0vh;
    padding-top: .25vh;
    padding-bottom: .25vh;
}

.footer-div {
    width: 100vw;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.35vh;
}

.picture {
    display: inline-block;
    max-height: 7vh;
    max-width: 7vh;
    margin-left: 3vw;
    margin-bottom: 1.5vh;
    margin-top: 2.5vh;
    border-radius: 99%;
    border: thick double var(--neon_green);
}

.page-title{
    margin-left: 5vw;
    margin-right: 5vw;
    display: inline-block;
    font-size: 3vh;
    font-weight: 900;
    color: var(--bg_color);
}

.page-subtitle {
    display: block;
    font-size: 1.5vh;
}

.sep-div {
    padding-top: .25vh;
    padding-bottom: .5vh;
}

.title-div {
    display: inline-block;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 2vh;
}

.header {
    display: flex;
    align-items: center;
}

.nav-bar {
    background-color: var(--nav_bar);
    text-align: center;
}

.nav-ul{
    display: inline-block;
    list-style: none;
}

.nav-ul-li{
    display: inline;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: .5vw;
    padding-right: .5vw;
}

.nav-link:link, .nav-link:visited {
    color: var(--neon_blue);
}

.nav-link:hover, .actual-nav-page:hover{
    color: var(--neon_orange);
}

.actual-nav-page, .actual-nav-page:visited {
    color: var(--neon_green);
}

.neonText{
    text-shadow: 
    0 0 7px var(--font_color),
    0 0 10px var(--font_color),
    0 0 21px var(--font_color),
    0 0 42px var(--font_color),
    0 0 82px var(--font_color),
    0 0 92px var(--font_color),
    0 0 102px var(--font_color),
    0 0 151px var(--font_color);
}

.title-animation {
/*    animation-name: flickering-effect;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;*/
    text-shadow: 
    2px 2px 6px var(--neon_orange),
    0 0 10px var(--font_color),
    -2px -2px 16px var(--neon_green),
    0 2px 29px var(--neon_blue),
    2px 0 45px var(--neon_purple),
    -2px 0 89px var(--neon_blue),
    0 -2px 98px var(--neon_green),
    0 0 120px var(--neon_orange),
    0 0 190px var(--neon_purple);
}

@keyframes flickering-effect {
    0%, 19%,21%, 33%,38%, 25%, 54%,57%, 100% {
        text-shadow: 
        2px 2px 6px var(--neon_orange),
        0 0 10px var(--font_color),
        -2px -2px 16px var(--neon_green),
        0 2px 29px var(--neon_blue),
        2px 0 45px var(--neon_purple),
        -2px 0 89px var(--neon_blue),
        0 -2px 98px var(--neon_green),
        0 0 120px var(--neon_orange),
        0 0 190px var(--neon_purple);    
    }
    20%, 36%, 55%{
        text-shadow: none;
    }
}

@keyframes title-changer {
    0% {color: var(--neon_blue)}
    25% {color: var(--neon_green);}
    50% {color: var(--neon_orange);}
    75% {color: var(--neon_purple);}
    100% {color: var(--neon_blue);}
}

.main-text {
    margin-top: 5vh;
    padding-left: 3.5vw;
    padding-right: 2vw;
    font-size: 2vh;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 1vw;
    margin-right: 1vw;
    justify-content: start;
    background-color: var(--nav_bar);
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 75vh;
}

.services-title-div {
    display: block;
    height: 80vh;
}

.contact-div{
    display: block;
    height: 80vh;
}

.main-text-paragraph{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.ByteForge {
    color: var(--neon_orange);
    font-weight: 800;
}

.quote {
    font-style: italic;
}

.main-text-ul {
    text-align: justify;
    text-justify: inter-word;
    list-style: none;
    display: block;
}

.main-text-li {
    display: block;
    margin-left: 2vw;
}

.disabled {
    display: none;
}

.enabled {
    display: inline;
}

.services-title {
    color: var(--neon_green);
    display: inline;
}

.services-title-div{
    margin-top: 1vh;
    display: inline-block;
    text-align: center;
    width: 90vw;
    margin-right: 5vw;
}

.button {
    width: 3.15vh;
    height: 3.15vh;
    display: inline;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 999px;
    font-size: 2vh;
    border: none;
    background-color: var(--neon_orange);
}

.button:hover {
    background-color: var(--neon_green);
    cursor: pointer;
}

.landing-page-ul{
    margin-left: 3vw;
    list-style-type: square
}

.main-page-div{
    height: 75vh;
    display: block;
}

.language-button-div {
    display: inline-block;
    margin-left: 60vw;
    z-index: 99;
}

.language-button {
    border: solid var(--neon_purple);
    width: 8.5vw;
    height: 5vh;
    margin-top: 1vh;
    background-color: var(--transp_purple);
    color: var(--font_color);
    font-size: 1vh;
}

.language-button:hover {
    background-color: var(--neon_purple);
}

.technologies-list-ul{
    display: block;
    list-style: none;
}

.technologies-list-li{
    display: block;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 5vw;
}